
/**
* -------------
* Global Styles
* -------------
*/


.p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  text-align: justify;
  margin-right: 32px;
  margin-left: 48px;
  color: #231f20;
}

.text {
  font-family: Poppins;
  font-size: 24px;
  font-weight: normal;
  text-align: justify;
  color: #ffffff;
}


h1 {
font-family: Poppins;
font-size: 88px;
font-weight: 900;
text-align: center;
color: #ffffff;
}

h2 {
  font-family: Poppins;
  font-size: 38px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
}

h3 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #231f20;
}

h4 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 64px;
  margin-right: 249px;
  color: #231f20;
}

h5 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
}

h6 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
}

.contact-title {
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  color: #ffffff;
}

.contact-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  color: #231f20;
}

.grille-element {
  position: relative;
}


.grille-element:hover .grille-content {
  opacity: 1;
}

.grille-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  opacity: 0;
}

.grille-sub-title {
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

.grille-title {
  font-family: Poppins;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #fcce00;
}

.grille-title2 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #ff6b00;
}

.grille-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

.button {
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.button2 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fcce00;
}

.button3 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #ff6b00;
}

.box {
  display: flex;
}

.slideshow {
  display: flex;
  box-sizing: content-box;
  width: 100%;
}

.Rectangle {
  width: 1440px;
  height: 2229px;
  background-color: #231f20;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Rectangle-element {
  position: relative;
}

.mask {
  background: linear-gradient( #fcce00, #fcce00 50%, #fcce00 30%, #ffffff);
}

/**
* ------
* Layout
* ------
*/


/**
* ----------
* Components
* ----------
*/


